:root {
    --color-rosado: #FFA3DB;
    --color-rosado2: #DE3179;
    --color-rojo: #CF4053;
    --color-morado: #7B0FA7;
    --color-celeste: #58ACDF;
    --coplor-azul: #019BDD;
    --color-naranja: #F7B63F;
    --color-verde: #99BF11;
    --color-negro: black;
    --color-blanco: white;
    --color-gris: #E4E4E4;
}



#admin {
    background-color: var(--color-rosado);
}

#admin h2 {
    text-align: center;
    padding-bottom: 30px;
}

#info {
    margin: 40px;
    padding: 30px;
    background-color: var(--color-gris);
}

#info h2{
    text-align: center;
    padding-bottom: 30px;
}

#info p {
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
}

#info i {
    font-size: 15px;
    
}

#info img {
    border-radius: 20px;
}

#requisitos {
    margin: 40px;
    padding: 50px;
    background-color: var(--color-rosado);
}

#requisitos h2{
    text-align: center;
    padding-bottom: 30px;
}

#requisitos img {
    border-radius: 20px;
}

/* .espacio_interno-40 {
    padding: 40px;
} */