.centrar {
    align-items: center;
    text-align: center;
}

.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }

.width-50{
    max-width: 50%;
    margin: auto;
}

.contenedor-espacio {
    margin-top: 100px;
    margin-bottom: 20px;
}